<div *ngIf="!status">
  <div class="spinner" *ngIf="!noConn">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>

  <div *ngIf="noConn">
    <div class="text-center">
      <h5 class="red">Error Connecting to Server</h5>
      <button class="btn btn-danger" type="button" (click)="refresh()"><i class="ion-refresh"></i> Reload</button>
    </div>
  </div>
</div>

<div class="row" *ngIf="status">
  <div class="row col-md-6">
    <div class="col-md-12">
      <ba-card title="Penentuan Praseminar" baCardClass="with-scroll table-panel">
        <div class="row form-group">
          <div class="col-md-6 padding-top"><b>Aktifkan Fitur Praseminar</b></div>
          <div class="col-md-6">
            <button type="button" *ngIf="active" (click)="activate()" class="btn btn-primary">Aktif</button>
            <button type="button" *ngIf="!active" (click)="activate()" class="btn btn-default">Tidak Aktif</button>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6 padding-top"><b>Jadwal Praseminar</b></div>
          <div class="col-md-6">
            <input type="date" name="jadwal" class="form-control" [(ngModel)]="jadwal" style="height:33px"/>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6 padding-top"><b>Deadline Upload Makalah</b></div>
          <div class="col-md-6">
            <input type="date" name="deadline" class="form-control" [(ngModel)]="deadline" style="height:33px"/>
          </div>
        </div>

        <!-- upload makalah kolokium -->
        <div class="row form-group">
          <div class="col-md-12 col-xs-12">
            <label><p href primary><b>Upload File Jadwal Praseminar</b></p></label><br />
            <div class="col-md-6 text-center">
              <alert type="danger" *ngIf="!preview">
                Kamu belum upload Jadwal Praseminar
              </alert>
              <alert type="success" *ngIf="preview">
                Jadwal Kolokium bisa dilihat<br /><br /> <a target="_blank" href="{{preview}}"><b>Disini</b></a>
              </alert>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <input class="button" type="file"
                         ngFileSelect
                         [options]="options"
                         (onUpload)="handleUpload($event)"
                         (beforeUpload)="beforeUpload($event)">
                </div>
              </div>
              <div class="row">
                <br />
                <div class="col-md-12">
                  <progress class="progress progress-striped" value="{{progress}}" max="100" type="warning">{{progress}}%</progress><b *ngIf="progress">{{progress}}%</b>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12 col-sm-12 align-right padding-right">
            <button type="button" class="btn btn-primary btn-lg" (click)="simpan()">Simpan</button>
          </div>
        </div>
      </ba-card>
    </div>
  </div>

  <div class="col-md-6">
    <ba-card title="Rekapitulasi Praseminar" baCardClass="with-scroll table-panel">
      <div style="display: block" *ngIf="dataPraseminar">
        <div *ngFor="let i of tahunPraseminar" class="col-md-6 text-center">
          <br />
          <span class="text-center"><b>Tahun Angkatan :</b> {{i}}</span>
          <canvas baseChart
                  [data]="dataPraseminar[i]"
                  [labels]="dataLabel"
                  [chartType]="pieChartType">
          </canvas><br />
          Sudah Upload : <b>{{dataPraseminar[i][0]}}</b><br />
          Belum Upload : <b>{{dataPraseminar[i][1] - dataPraseminar[i][0]}}</b>
        </div>
      </div>
      <br />
    </ba-card>
  </div>

  <div class="row col-md-12">

    <ba-card title="Rekap File Praseminar" class="col-md-12" baCardClass="with-scroll table-panel">

      <div class="row">
        <br />
      </div>

      <div class="row col-md-12" *ngIf="list">
        <ng2-smart-table [settings]="settings" (userRowSelect)="test($event)" (userRowSelect)="smModal.show()" [source]="source"></ng2-smart-table>
      </div>
    </ba-card>

  </div>
</div>

<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Konfirmasi Praseminar</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div *ngIf="konfirmasi == 1">
          <button class="btn btn-primary" (click)="confirm(1)" (click)="smModal.hide()">Konfirmasi Sudah Praseminar</button>
        </div>
        <div *ngIf="konfirmasi == 0">
          <button class="btn btn-danger" (click)="confirm(0)" (click)="smModal.hide()">Batalkan Konfirmasi Praseminar</button>
        </div>
        <div *ngIf="konfirmasi == 2">
          <b danger>Belum Upload</b>
        </div>
      </div>
    </div>
  </div>
</div>
