<div *ngIf="!status">
  <div class="spinner" *ngIf="!noConn">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>

  <div *ngIf="noConn">
    <div class="text-center">
      <h5 class="red">Error Connecting to Server</h5>
      <button class="btn btn-danger" type="button" (click)="refresh()"><i class="ion-refresh"></i> Reload</button>
    </div>
  </div>
</div>

<div *ngIf="status">
  <div class="row">
    <ba-card title="Pilih Mahasiswa" baCardClass="with-scroll">
      <div class="row col-md-12">
        <b>Pilih Mahasiswa Bimbingan :</b>
        <select name="mahasiswa" (change)="onChange($event.target.value)">
          <option value="0">
            Semua Mahasiswa Bimbingan
          </option>
          <option *ngFor="let opt of mahasiswa" value="{{opt}}">
            {{opt}}
          </option>
        </select>
      </div>
    </ba-card>
  </div>

  <div class="row">
    <ba-card title="Log Bimbingan Mahasiswa" baCardClass="with-scroll">
      <div>
        <!-- <div class="row col-md-12">
          <div class="col-md-2">
            <b>Nama</b>
          </div>
          <div class="col-md-10">
            : {{nama}}
          </div>
        </div>


        <div class="row col-md-12">
          <div class="col-md-2">
            <b>Topik Tugas Akhir</b>
          </div>
          <div class="col-md-10">
            : {{topik}}
          </div>
        </div>

        <div class="col-md-12 col-xs-12">
          <br />
        </div> -->

        <div class="row col-md-12">
          <div class="col-md-1 col-xs-2 text-center">
            <b>Tanggal</b>
          </div>
          <div class="col-md-1 col-xs-2 text-center">
            <b>Tempat</b>
          </div>
          <div class="col-md-1 col-xs-2 text-center">
            <b>Jam</b>
          </div>
          <div class="col-md-4 col-xs-2 text-center">
            <b>Topik Bimbingan</b>
          </div>
          <div class="col-md-1 col-xs-2 text-center">
            <b>Status</b>
          </div>
          <div class="col-md-3 col-xs-2 text-center">
            <b>Action</b>
          </div>
          <div class="col-md-12 col-xs-12">
            <hr /><br />
          </div>
        </div>
        <div *ngFor="let opt of log">
          <div class="col-md-1 col-xs-2">
            {{data.tanggalSingkat(opt.tanggal)}}
          </div>
          <div class="col-md-1 col-xs-2">
            {{opt.tempat}}
          </div>
          <div class="col-md-1 col-xs-2">
            {{opt.jam.substr(0,5)}}
          </div>
          <div class="col-md-4 col-xs-2">
            {{opt.topik}}
          </div>
          <div class="col-md-1 col-xs-2">
            Status
          </div>
          <div class="col-md-3 col-xs-2 text-right">
            <button *ngIf="!opt.approval" class="btn btn-primary" (click)="approve(1)"><i class="ion-checkmark-round"></i>
              <span style="padding-left:5px">Approve</span>
            </button>
            <button *ngIf="opt.approval" class="btn btn-danger" (click)="approve(0)"><i class="ion-close-round"></i>
              <span style="padding-left:5px">Cancel</span>
            </button>
            <button class="btn btn-info" (click)="lgModal.show()" (click)="lihat(opt.id)"><i class="ion-eye"></i> Lihat</button>
          </div>

          <div class="col-md-12 col-xs-12">
            <hr />
          </div>
        </div>
      </div>

    </ba-card>
  </div>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{logDetail.topik}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <b>Tanggal : </b>{{logDetail.tanggal}}
          </div>
          <div class="col-md-4">
            <b>Jam :</b> {{logDetail.jam}}
          </div>
          <div class="col-md-4">
            <b>Tempat :</b> {{logDetail.tempat}}
          </div>

          <div class="col-md-12 col-xs-12">
            <br />
          </div>

          <div class="col-md-12">
            <b>Topik Bimbingan : </b> {{logDetail.topik}}
          </div>

          <div class="col-md-12 col-xs-12">
            <br />
          </div>

          <div class="col-md-12">
            <b>Progress : </b><br />{{logDetail.progress}}
          </div>
          <div class="col-md-12 col-xs-12">
            <br />
          </div>

          <div class="col-md-12">
            <b>Kendala :</b> <br />{{logDetail.kendala}}
          </div>
          <div class="col-md-12 col-xs-12">
            <br />
          </div>

          <div class="col-md-12">
            <b>Rencana Selanjutnya :</b> <br />{{logDetail.rencana}}
          </div>
          <div class="col-md-12 col-xs-12">
            <br /><br />
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
