<div *ngIf="!status">
  <div class="spinner" *ngIf="!noConn">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>

  <div *ngIf="noConn">
    <div class="text-center">
      <h5 class="red">Error Connecting to Server</h5>
      <button class="btn btn-danger" type="button" (click)="refresh()"><i class="ion-refresh"></i> Reload</button>
    </div>
  </div>
</div>

<div *ngIf="status">
  <div class="row" style="position: static; z-index: 99 !important;">
    <ba-card title="Pilih Mahasiswa">
      <div class="row">
        <div class="row col-md-12">
          <div class="col-md-4 padding-top">
            <b>Cari Mahasiswa Bimbingan</b>
          </div>
          <div class="col-md-6">
            <input
              class="form-control"
              style="position: absolute; z-index: 99 !important;"
              [(ngModel)]="selected"
              [typeahead]="bimbingan"
              (typeaheadOnSelect)="typeaheadOnSelect($event)"
              [typeaheadOptionsLimit]="7"
              [typeaheadOptionField]="'nama'">
          </div>
        </div>

        <div class="row col-md-12" *ngIf="nama">
          <hr>
        </div>

        <div class="row col-md-12" *ngIf="nama">
          <div class="row col-md-12">
            <div class="col-md-2">
              <b>Nama</b>
            </div>
            <div class="col-md-10">
              : {{nama}}
            </div>
          </div>

          <div class="row col-md-12">
            <div class="col-md-2">
              <b>Topik Tugas Akhir</b>
            </div>
            <div class="col-md-10">
              : {{topik}}
            </div>
          </div>

          <div class="row col-md-12">
            <div class="col-md-2">
              <b>Pembimbing 1</b>
            </div>
            <div class="col-md-10">
              : {{dosen1}}
            </div>
          </div>

          <div class="row col-md-12" *ngIf="dosen2">
            <div class="col-md-2">
              <b>Pembimbing 2</b>
            </div>
            <div class="col-md-10">
              : {{dosen2}}
            </div>
          </div>

          <div class="row col-md-12" *ngIf="penguji1">
            <div class="col-md-2">
              <b>Penguji 1</b>
            </div>
            <div class="col-md-10">
              : {{penguji1}}
            </div>
          </div>

          <div class="row col-md-12" *ngIf="penguji2">
            <div class="col-md-2">
              <b>Penguji 2</b>
            </div>
            <div class="col-md-10">
              : {{penguji2}}
            </div>
          </div>

          <div class="col-md-12 col-xs-12">
            <br />
          </div>

          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"><alert type="info" class="text-center"><b>Sudah Disetujui :</b> <h3>{{sudahApprove}}</h3></alert></div>
            <div class="col-md-3"><alert type="danger" class="text-center"><b>Belum Disetujui :</b> <h3>{{belumApprove}}</h3></alert></div>
            <div class="col-md-3"></div>
          </div>

        </div>
      </div>
    </ba-card>
  </div>

  <div class="row" *ngIf="nama">
    <ba-card title="Log Bimbingan Mahasiswa" baCardClass="with-scroll">
      <div>


        <div class="row col-md-12">
          <div class="col-md-1 col-xs-2 text-center">
            <b>Tanggal</b>
          </div>
          <div class="col-md-2 col-xs-2 text-center">
            <b>Tempat</b>
          </div>
          <div class="col-md-1 col-xs-2 text-center">
            <b>Jam</b>
          </div>
          <div class="col-md-5 col-xs-2 text-center">
            <b>Topik Bimbingan</b>
          </div>
          <div class="col-md-3 col-xs-2 text-center">
            <b>Action</b>
          </div>
          <div class="col-md-12 col-xs-12">
            <hr /><br />
          </div>
        </div>
        <div *ngFor="let opt of log">
          <div class="row" class="col-md-12">
            <b class="text-primary">{{opt.nama}}</b>
          </div>
          <div class="col-md-1 col-xs-2">
            {{opt.tanggal}}
          </div>
          <div class="col-md-2 col-xs-2">
            {{opt.tempat}}
          </div>
          <div class="col-md-1 col-xs-2">
            {{opt.jam.substr(0,5)}}
          </div>
          <div class="col-md-5 col-xs-2">
            {{opt.topik}}
          </div>
          <div class="col-md-3 col-xs-2 text-right">
            <button *ngIf="!opt.approval" class="btn btn-primary" (click)="approve(opt.id, opt.nim, 1)"><i class="ion-checkmark-round"></i>
              <span style="padding-left:5px">Setujui</span>
            </button>
            <button *ngIf="opt.approval" class="btn btn-danger" (click)="approve(opt.id, opt.nim,  0)"><i class="ion-close-round"></i>
              <span style="padding-left:5px">Batalkan</span>
            </button>
            <button class="btn btn-info" (click)="lgModal.show()" (click)="lihat(opt.id)"><i class="ion-eye"></i> Lihat</button>
          </div>

          <div class="col-md-12 col-xs-12">
            <hr />
          </div>
        </div>
      </div>

    </ba-card>
  </div>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{logDetail.topik}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <b>Tanggal : </b>{{logDetail.tanggal}}
          </div>
          <div class="col-md-4">
            <b>Jam :</b> {{logDetail.jam}}
          </div>
          <div class="col-md-4">
            <b>Tempat :</b> {{logDetail.tempat}}
          </div>

          <div class="col-md-12 col-xs-12">
            <br />
          </div>

          <div class="col-md-12">
            <b>Topik Bimbingan : </b> {{logDetail.topik}}
          </div>

          <div class="col-md-12 col-xs-12">
            <br />
          </div>

          <div class="col-md-12">
            <b class="text-primary">Progress : </b><br />{{logDetail.progress}}
          </div>
          <div class="col-md-12 col-xs-12">
            <br />
          </div>

          <div class="col-md-12">
            <b class="text-danger">Kendala :</b> <br />{{logDetail.kendala}}
          </div>
          <div class="col-md-12 col-xs-12">
            <br />
          </div>

          <div class="col-md-12">
            <b class="text-success">Rencana Selanjutnya :</b> <br />{{logDetail.rencana}}
          </div>

          <div class="col-md-12 col-xs-12 text-center">
            <br /><hr><b>Diskusi</b><br><br>
          </div>

          <div class="col-md-12 section-block" *ngFor="let res of resJawaban">

            <!-- Mahasiswa -->
            <div *ngIf="res.nim">
              <div class="accent text-left" style="padding-right:10%">
                <p class="green">{{res.jawaban}}</p>
              </div>
              <div class="text-left">
                Mahasiswa : {{res.nama_mahasiswa}}
              </div>
              <div class="text-left">
                {{res.timestamp.substr(0,10)}}, {{res.timestamp.substr(12,4)}}<br /><br />
              </div>
            </div>

            <!-- Dosen -->
            <div *ngIf="res.dosen_id">
              <div class="accent text-right" style="padding-left:10%">
                <p class="blue">{{res.jawaban}}</p>
              </div>
              <div class="text-right">
                Dosen : {{res.nama_dosen}}
              </div>
              <div class="text-right">
                {{res.timestamp.substr(0,10)}}, {{res.timestamp.substr(12,4)}}<br /><br />
              </div>
            </div>

          </div>

          <div class="col-md-12">
            <textarea [(ngModel)]="balasan" style="height:150px;width:100%" class="form-control" placeholder="Ketik balasan"></textarea>
          </div>

          <div class="col-md-12 text-right">
            <br /><button (click)="balas(logDetail.id)" class="btn btn-md btn-primary">Balas</button>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>
