<div *ngIf="!status">
  <div class="spinner" *ngIf="!noConn">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>

  <div *ngIf="noConn">
    <div class="text-center">
      <h5 class="red">Error Connecting to Server</h5>
      <button class="btn btn-danger" type="button" (click)="refresh()"><i class="ion-refresh"></i> Reload</button>
    </div>
  </div>
</div>

<div *ngIf="status">
  <div class="row">

    <ba-card title="Pilih Mahasiswa" baCardClass="with-scroll">
      <div class="row col-md-12">
        <b>Pilih Mahasiswa Bimbingan :</b>
        <select name="mahasiswa" (change)="onChange($event.target.value)">
          <option value="0">
            Semua Mahasiswa Bimbingan
          </option>
          <option *ngFor="let opt of mahasiswa" value="{{opt}}">
            {{opt}}
          </option>
        </select>
      </div>
    </ba-card>
  </div>

  <div class="row">
    <ba-card title="Log Bimbingan Mahasiswa" baCardClass="with-scroll">
      <div>
        <div class="row">
          <div class="col-md-1 col-xs-2 text-center">
            <b>Tanggal</b>
          </div>
          <div class="col-md-1 col-xs-2 text-center">
            <b>Tempat</b>
          </div>
          <div class="col-md-1 col-xs-2 text-center">
            <b>Jam</b>
          </div>
          <div class="col-md-5 col-xs-2 text-center">
            <b>Topik Bimbingan</b>
          </div>
          <div class="col-md-1 col-xs-2 text-center">
            <b>Status</b>
          </div>
          <div class="col-md-2 col-xs-2 text-center">
            <b>Action</b>
          </div>
          <div class="col-md-12">
            <hr /><br />
          </div>
        </div>
        <div *ngFor="let opt of log">
          <div class="col-md-1 col-xs-2">
            {{data.tanggalSingkat(opt.tanggal)}}
          </div>
          <div class="col-md-1 col-xs-2">
            {{opt.tempat}}
          </div>
          <div class="col-md-1 col-xs-2">
            {{opt.jam.substr(0,5)}}
          </div>
          <div class="col-md-5 col-xs-2">
            {{opt.topik}}
          </div>
          <div class="col-md-1 col-xs-2">
            Status
          </div>
          <div class="col-md-2 col-xs-2 text-right">
            <button *ngIf="!opt.approval" class="btn btn-primary" (click)="approve(1)"><i class="ion-checkmark-round"></i>
              <span style="padding-left:5px">Approve</span>
            </button>
            <button *ngIf="opt.approval" class="btn btn-danger" (click)="approve(0)"><i class="ion-close-round"></i>
              <span style="padding-left:5px">Cancel</span>
            </button>
            <!-- <button class="btn btn-primary" (click)="lgModal.show()">Large modal</button> -->
          </div>

          <!-- <div class="col-md-9">
            {{opt.topik}}
          </div>
          <div class="col-md-3">
            <button *ngIf="!opt.approval" class="btn btn-primary" (click)="approve(1)"><i class="ion-checkmark-round"></i>
              <span style="padding-left:5px">Approve</span>
            </button>
            <button *ngIf="opt.approval" class="btn btn-danger" (click)="approve(0)"><i class="ion-close-round"></i>
              <span style="padding-left:5px">Cancel</span>
            </button>
          </div> -->
          <div class="col-md-12">
            <hr />
          </div>
        </div>
      </div>

      <!-- <div class="col-md-1"></div>

      <div class="col-md-6">
        <h4>
          Detail Log
        </h4>

      </div> -->

    </ba-card>
  </div>
</div>

<!-- <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Large modal</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div> -->
