<div *ngIf="!status">
  <div class="spinner" *ngIf="!noConn">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>

  <div *ngIf="noConn">
    <div class="text-center">
      <h5 class="red">Error Connecting to Server</h5>
      <button class="btn btn-danger" type="button" (click)="refresh()"><i class="ion-refresh"></i> Reload</button>
    </div>
  </div>
</div>

<div *ngIf="status">

  <div *ngIf="!statusKolokium">
    <alert type="danger">
      <h4> Kamu belum melaksanakan Kolokium. </h4>
    </alert>
  </div>

  <div *ngIf="statusKolokium">
    <div>
      <!-- Alert message -->
      <alert type="info">
        Untuk melihat jadwal Praseminar Bersama. Silahkan  <a target="_blank" href="{{link}}"><b><i>Download Disini</i></b></a>
      </alert>

      <div class="row">
        <div class="col-md-12">

          <ba-card title="Makalah Praseminar" baCardClass="with-scroll">
            <form class="row form-inline" (ngSubmit)="submit()">

              <!-- nama & nim-->
              <div class="col-md-12 col-xs-12">

                <div class="col-md-4 col-sm-12">
                  <div class="row">
                    <div class="col-md-2">
                      <b>Nama</b>
                    </div>
                    <div class="col-md-8">
                      : {{data.nama}}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-2">
                      <b>NIM</b>
                    </div>
                    <div class="col-md-8">
                      : {{data.nim}}
                    </div>
                  </div>
                </div>

                <div class="col-md-8 col-sm-12">
                  <div class="row">
                    <div class="col-md-5">
                      <b>Pembimbing Ketua</b>
                    </div>
                    <div class="col-md-7">
                      : {{dosen1}}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-5">
                      <b>Pembimbing Anggota</b>
                    </div>
                    <div class="col-md-7">
                      : {{dosen2}}
                    </div>
                  </div>
                </div>

              </div>

              <div class="col-sm-12 col-md-12 col-xs-12">
                <br />
              </div>

              <!-- judul topik -->
              <div class="col-md-12">
                <div class="form-group col-md-12 col-xs-12">
                  <label><p href primary><b>Judul Tugas Akhir</b></p></label><br />
                  <textarea name="topik" [(ngModel)]="topik" style="width: 100%" class="form-control" required></textarea>
                </div>
              </div>

              <div class="col-sm-12 col-md-12 col-xs-12">
                <br />
              </div>

              <div class="col-md-8">
                <div class="col-md-4" style="padding-top: 10px">
                  <label><p href primary><b>Tanggal Praseminar</b></p></label><br />
                  (format: 2017-01-01)
                </div>
                <div class="col-md-8">
                  <input type="date" class="form-control" [(ngModel)]="date" name="date" required placeholder="2017-01-01" required>
                </div>
              </div>

              <div class="col-md-4 text-right">
                <br>
                <button class="btn btn-primary btn-lg" type="submit">Simpan</button>
              </div>


              <div class="col-sm-12 col-md-12 col-xs-12">
                <br /><br>
              </div>

              <div class="col-md-12">
                <alert type="danger" *ngIf="!upload">
                  Silahkan isi tanggal kolokium kamu dan <b>Simpan</b> untuk melakukan upload makalah kolokium.
                </alert>
              </div>

              <!-- app.component.html -->
              <div class="col-md-12" *ngIf="upload">
                <label class="row col-md-12"><p href primary><b>Upload Makalah Praseminar</b></p></label><br />
                <div class="col-md-3 text-center">
                  <alert type="danger" *ngIf="!preview">
                    Kamu belum upload makalah praseminar.
                  </alert>
                  <alert type="success" *ngIf="preview">
                    File makalah praseminar bisa dilihat<br /><br /> <a target="_blank" href="{{preview}}"><b>Disini</b></a>
                  </alert>
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-12">
                      <input class="button" type="file"
                             ngFileSelect
                             [options]="options"
                             (onUpload)="handleUpload($event)"
                             (beforeUpload)="beforeUpload($event)">
                    </div>
                  </div>
                  <div class="row">
                    <br />
                    <div class="col-md-8">
                      <progress class="progress progress-striped" value="{{progress}}" max="100" type="warning">{{progress}}%</progress><b *ngIf="progress">{{progress}}%</b>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <alert type="info" *ngIf="preview">
                    Silahkan Upload ulang jika ingin mengganti file makalah Praseminar
                  </alert>
                </div>
              </div>

            </form>

          </ba-card>


        </div>

      </div>




    </div>


  </div>



</div>
