<!-- <div class="col-md-12">
  Ini Final
</div> -->

<div class="col-md-12">
  <label class="row col-md-12"><p href primary><b>Upload Skripsi Final</b></p></label><br />
  <div class="col-md-3 text-center">
    <alert type="danger" *ngIf="!preview1">
      Kamu belum upload file skripsi final
    </alert>
    <alert type="success" *ngIf="preview1">
      File skripsi final bisa dilihat<br /><br /> <a target="_blank" href="{{preview1}}"><b>Disini</b></a>
    </alert>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <input class="button" type="file"
               ngFileSelect
               [options]="options1"
               (onUpload)="handleUpload1($event)"
               (beforeUpload)="beforeUpload($event)">
      </div>
    </div>
    <div class="row">
      <br />
      <div class="col-md-8">
        <progress class="progress progress-striped" value="{{progress1}}" max="100" type="warning">{{progress1}}%</progress><b *ngIf="progress1">{{progress1}}%</b>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <alert type="info" *ngIf="preview1">
      Silahkan Upload ulang jika ingin mengganti file skripsi final
    </alert>
  </div>
</div>
