@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}

.user-stats-card {
  .card-title {
    padding: 0 0 15px;
  }
}

.blurCalendar {
  height: 475px;
}

.btn-md{
  width:175px
}

.success {
  color: #3c763d;
}

.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    height: 120px;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    color: white;

    -moz-box-shadow: 1px 1px 10px #999;
    -webkit-box-shadow: 1px 1px 10px #999;
        box-shadow: 1px 1px 10px #999;
}


.red {
  color: #e74c3c;
}

.title-box {
  font-weight: 200;
  padding-left: 10px;
  padding-bottom: 10px;
  // color: #3d566e;
  // background-color: white;
  position: absolute;
  bottom: 0;
  // z-index: 3;
}

.icon-box {
  font-size: 60px;
  // padding-right: 30px;
  // padding-top: 30px;
}

.bg-green {
  background-color: #16a085!important;
}

.bg-red {
  background-color: #e74c3c!important;
}

.bg-blue {
  background-color: #3498db!important;
}

.bg-yellow {
  background-color: #e67e22!important;
}

.bg-purple {
  background-color: #9b59b6!important;
}

.bg-grey {
  background-color: #7f8c8d!important;
}

.bg-dark {
  background-color: #3d566e!important;
}

.bg-softgreen {
  background-color: #f1c40f!important;
}
