<div *ngIf="!status">
  <div class="spinner" *ngIf="!noConn">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>

  <div *ngIf="noConn">
    <div class="text-center">
      <h5 class="red">Error Connecting to Server</h5>
      <button class="btn btn-danger" type="button" (click)="refresh()"><i class="ion-refresh"></i> Reload</button>
    </div>
  </div>
</div>

<div *ngIf="status">
  <div class="row">

  <div class="col-md-12">
    <alert type="info">
      <h3>Selamat Datang di Sistem Informasi Manajemen Tugas Akhir Ilmu Komputer.</h3>
    </alert>
  </div>

  <div *ngIf="!statusProfile"  class="col-md-12">
    <div class="alert alert-warning" role="alert">
      Kamu belum melengkapi data diri kamu. Silahkan lengkapi <a href="#/mahasiswa/profile"><i>Disini</i></a>
    </div>
  </div>

  <div class="col-md-12">
    <alert type="danger">
      Mohon maaf, saat ini SIMETA masih dalam pengembangan.
    </alert>
  </div>


</div>

</div>
