@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}

.btn-lg{
  width: 175px;
}

.padding{
  padding-right: 15px;
  padding-left: 15px;
}

.tanggal{
  font-size: 10px;
}

.blue{
  color: #4397e6;
}

.green{
  color: #90b900;
}

.red{
  color: #c0392b;
}

.orange{
  color: #f39c12;
}
