.btn-lg{
  width: 175px;
}

.padding{
  padding-right: 15px;
  padding-left: 15px;
}

.tanggal{
  font-size: 10px;
}

label {
  color: #666666;
}

.blue {
  color: #00abff;
}

.full button span {
 background-color: limegreen;
 border-radius: 32px;
 color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}
