<div *ngIf="!status">
  <div class="spinner" *ngIf="!noConn">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>

  <div *ngIf="noConn">
    <div class="text-center">
      <h5 class="red">Error Connecting to Server</h5>
      <button class="btn btn-danger" type="button" (click)="refresh()"><i class="ion-refresh"></i> Reload</button>
    </div>
  </div>
</div>

<div class="row" *ngIf="status">

  <div class="col-md-6">
    <ba-card title="Rekapitulasi SKL" baCardClass="with-scroll table-panel">
      <div style="display: block" *ngIf="dataSKL">
        <div *ngFor="let i of tahunSKL" class="col-md-6 text-center">
          <br />
          <span class="text-center"><b>Tahun Angkatan :</b> {{i}}</span>
          <canvas baseChart
                  [data]="dataSKL[i]"
                  [labels]="dataLabel"
                  [chartType]="pieChartType">
          </canvas><br />
          Sudah SKL: <b>{{dataSKL[i][0]}}</b><br />
          Belum SKL : <b>{{dataSKL[i][1] - dataSKL[i][0]}}</b>
        </div>
      </div>
      <br />
    </ba-card>
  </div>

  <div class="col-md-12">
    <ba-card title="REKAPITULASI SKL" baCardClass="with-scroll table-panel">
      <div *ngIf="list">
        <ng2-smart-table [settings]="settings" [source]="list"></ng2-smart-table>
      </div>
    </ba-card>
  </div>
</div>
