.label {
  border-radius: 0;
}

.label-primary {
  background: $primary;
}

.label-info {
  background: $primary-light;
}

.label-success {
  background: $success;
}

.label-warning {
  background: $warning;
}

.label-danger {
  background: $danger;
}

.form-group {
  label {
    margin-bottom: 5px;
    color: $content-text;
    font-weight: $font-normal;
    font-size: 13px;
  }
}

.form-control {
  color: $content-text;
  @include placeholderStyle($content-text, 0.7);
  border: 1px solid $input-border;
  border-radius: 5px;
  background-color: $input-background;
  box-shadow: none;
  font-size: 14px;
  &:focus {
    color: $content-text;
    box-shadow: none;
    border-color: $primary-bg;
    background: $input-background;
  }
}

textarea.form-control {
  height: 96px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: $input-background;
  color: $disabled;
  border-color: $disabled-bg;
}

.checkbox-demo-row {
  margin-bottom: 12px;
}

.dropdown-menu {
  border-radius: 5px;
}

.progress {
  background: $progress-background;
}

.progress-bar-primary {
  background-color: $primary;
}

.progress-bar-success {
  background-color: $success-light;
}

.progress-bar-warning {
  background-color: $warning;
}

.progress-bar-danger {
  background-color: $danger;
}
