<div *ngIf="!status">
  <div class="spinner" *ngIf="!noConn">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>

  <div *ngIf="noConn">
    <div class="text-center">
      <h5 class="red">Error Connecting to Server</h5>
      <button class="btn btn-danger" type="button" (click)="refresh()"><i class="ion-refresh"></i> Reload</button>
    </div>
  </div>
</div>

<div class="row" *ngIf="status">


  <div class="col-md-6">
    <ba-card title="Rekapitulasi Kolokium" baCardClass="with-scroll table-panel">
      <div style="display: block" *ngIf="dataKolokium">
        <div *ngFor="let i of tahunKolokium" class="col-md-6 text-center">
          <br />
          <span class="text-center"><b>Tahun Angkatan :</b> {{i}}</span>
          <canvas baseChart
                  [data]="dataKolokium[i]"
                  [labels]="dataLabel"
                  [chartType]="pieChartType">
          </canvas><br />
          Sudah Kolokium : <b>{{dataKolokium[i][0]}}</b><br />
          Belum Kolokium : <b>{{dataKolokium[i][1]}}</b>
        </div>
      </div>
      <br />
    </ba-card>
  </div>

  <ba-card title="Kolokium Mahasiswa Bimbingan" class="col-md-12" baCardClass="with-scroll table-panel">
    <div class="row">
      <br />
    </div>

    <div class="row col-md-12" *ngIf="list">
      <ng2-smart-table [settings]="settings" [source]="list"></ng2-smart-table>
    </div>
  </ba-card>
</div>
