<div *ngIf="!status">
  <div class="spinner" *ngIf="!noConn">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>

  <div *ngIf="noConn">
    <div class="text-center">
      <h5 class="red">Error Connecting to Server</h5>
      <button class="btn btn-danger" type="button" (click)="refresh()"><i class="ion-refresh"></i> Reload</button>
    </div>
  </div>
</div>

<div *ngIf="status">

  <div *ngIf="!statusSeminar">
    <alert type="danger"><h4>Kamu belum melaksanakan <b>Seminar</b>.</h4>
      Silahkan laksanakan seminar terlebih dahulu untuk menggunakan fitur ini.
    </alert>
  </div>

  <div *ngIf="statusSeminar">
      <div class="row">
        <div class="col-md-12">

          <ba-card title="Pengajuan Sidang Tugas Akhir" baCardClass="with-scroll">
            <form class="row form-inline" (ngSubmit)="submit()">

              <!-- nama & nim-->
              <div class="col-md-12 col-xs-12">

                <div class="col-md-4 col-sm-12">
                  <div class="row">
                    <div class="col-md-2">
                      <b>Nama</b>
                    </div>
                    <div class="col-md-8">
                      : {{data.nama}}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-2">
                      <b>NIM</b>
                    </div>
                    <div class="col-md-8">
                      : {{data.nim}}
                    </div>
                  </div>
                </div>

                <div class="col-md-8 col-sm-12">
                  <div class="row">
                    <div class="col-md-5">
                      <b>Pembimbing Ketua</b>
                    </div>
                    <div class="col-md-7">
                      : {{dosen1}}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-5">
                      <b>Pembimbing Anggota</b>
                    </div>
                    <div class="col-md-7">
                      : {{dosen2}}
                    </div>
                  </div>
                </div>

              </div>

              <div class="col-md-12">
                <hr>
              </div>

              <div class="col-md-12">
                <div class="col-md-5">
                  <p style="font-size:15px"><b>Penguji 1 </b>: {{penguji1}}</p>
                </div>
                <div class="col-md-7" *ngIf="penguji2">
                  <p style="font-size:15px"><b>Penguji 2 </b>: {{penguji2}}</p>
                </div>
              </div>

              <div class="col-sm-12 col-md-12 col-xs-12">
                <br />
              </div>

              <!-- app.component.html -->
              <div *ngIf="!show" class="col-md-12">
                <alert type="danger">
                  Silahkan isi form sidang terlebih dahulu untuk <b>Upload file makalah sidang</b>
                </alert>
              </div>

              <!-- judul topik -->
              <div class="form-group col-md-12 col-xs-12">
                  <label><p href primary><b>Judul Tugas Akhir</b></p></label><br />
                  <textarea name="topik" [(ngModel)]="topik" style="width: 100%" class="form-control" required></textarea>
              </div>

              <div class="col-sm-12 col-md-12 col-xs-12">
                <br />
              </div>

              <!-- Tempat -->
              <div class="form-group col-md-3 col-sm-8 col-xs-12">
                <label><b>Tanggal</b> (format: 2017-01-01)</label><br />
                <input class="form-control" type="date" name="date" style="height:36px" [(ngModel)]="tanggal" required="required"/>
              </div>

              <div class="form-group col-md-3 col-sm-4 col-xs-12">
                <label><b>Jam</b> (format: 24:00)</label><br />
                <input type="text" name="jam" class="form-control" [(ngModel)]="jam" required placeholder="24:00">
                <!--<timepicker name="mytime" [(ngModel)]="mytime" [showMeridian]="ismeridian" [showSpinners]="isArrow" required="required"></timepicker>-->
              </div>

              <div class="form-group col-md-6 col-sm-12 col-xs-12">
                <label><b>Tempat</b></label><br />
                <input class="form-control" type="text" name="tempat" placeholder="Tempat Sidang" [(ngModel)]="tempat" required="required"/>
              </div>

              <div class="col-sm-12 col-md-12 col-xs-12">
                <br />
              </div>


              <!-- Submit -->
              <div class="col-md-12 col-sm-12">
                <div class="section-block text-right padding-right">
                  <button type="submit" class="btn btn-primary btn-lg">Simpan</button>
                </div>
              </div>

              <div class="col-sm-12 col-md-12 col-xs-12">
                <br />
              </div>

              <!-- app.component.html -->
              <div class="col-md-12" *ngIf="show">
                <label class="row col-md-12"><p href primary><b>Upload Makalah</b></p></label><br />
                <div class="col-md-3 text-center">
                  <alert type="danger" *ngIf="!makalah">
                    Kamu belum upload file Sidang
                  </alert>
                  <alert type="success" *ngIf="makalah">
                    File Sidang bisa dilihat<br /><br /> <a target="_blank" href="{{makalah}}"><b>Disini</b></a>
                  </alert>
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-12">
                      <input class="button" type="file"
                             ngFileSelect
                             [options]="options"
                             (onUpload)="handleUpload($event)"
                             (beforeUpload)="beforeUpload($event)">
                    </div>
                  </div>
                  <div class="row">
                    <br />
                    <div class="col-md-8">
                      <progress class="progress progress-striped" value="{{progress}}" max="100" type="warning">{{progress}}%</progress><b *ngIf="progress">{{progress}}%</b>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <alert type="info" *ngIf="makalah">
                    Silahkan Upload ulang jika ingin mengganti file makalah Sidang
                  </alert>
                </div>
              </div>

            </form>

          </ba-card>

        </div>

      </div>


  </div>

</div>
