body {
    background: #d9e0e7;
    font-size: 12px;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white
}
.ie8 body {
    font-family: Arial, sans-serif
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    color: white
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-size: 60%;
    font-weight: 300;
    color: #7c7f83
}
a {
    transition: color 100ms ease-in-out;
    -o-transition: color 100ms ease-in-out;
    -ms-transition: color 100ms ease-in-out;
    -moz-transition: color 100ms ease-in-out;
    -webkit-transition: color 100ms ease-in-out
}
a:focus {
    outline: 0
}
label {
    color: white
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg)
    }
}
@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(359deg)
    }
}
@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg)
    }
    to {
        -o-transform: rotate(359deg)
    }
}
@keyframes rotation {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(359deg)
    }
}
@keyframes expand {
    from {
        width: 200px
    }
    to {
        width: 300px
    }
}
@-webkit-keyframes expand {
    from {
        width: 200px
    }
    to {
        width: 300px
    }
}
.btn {
    font-weight: 300;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}
.btn.active:focus,
.btn:active:focus,
.btn:focus {
    outline: 0
}
.btn-icon,
.btn.btn-icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    padding: 0;
    border: none;
    line-height: 28px;
    text-align: center;
    font-size: 14px
}
.btn-circle,
.btn.btn-circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}
.btn-icon.btn-xs {
    width: 16px;
    height: 16px;
    font-size: 8px;
    line-height: 16px
}
.btn-icon.btn-sm {
    width: 22px;
    height: 22px;
    font-size: 11px;
    line-height: 22px
}
.btn-icon.btn-lg {
    width: 34px;
    height: 34px;
    font-size: 17px;
    line-height: 34px
}
.btn-scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 1020
}
.page-with-right-sidebar .btn-scroll-to-top {
    left: 25px;
    right: auto
}
.btn>.pull-left,
.btn>.pull-right {
    line-height: 1.428571429
}
.btn-block {
    padding-left: 12px;
    padding-right: 12px
}
.btn.active,
.btn:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .1)
}
.btn.btn-default {
    color: #fff;
    background: #b6c2c9;
    border-color: #b6c2c9
}
.btn-default.active,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open .dropdown-toggle.btn-default {
    background: #929ba1;
    border-color: #929ba1
}
.btn-group .btn.btn-default:not(.active)+.btn.btn-default,
.input-group-btn .btn.btn-default:not(.active)+.btn.btn-default {
    border-left-color: #929ba1
}
.btn.btn-white {
    font-weight: 400;
    color: #333;
    background: #fff;
    border-color: #e2e7eb
}
.btn.btn-white.btn-white-without-border {
    border-color: #fff
}
.btn.btn-white.btn-white-without-border.active,
.btn.btn-white.btn-white-without-border.active:focus,
.btn.btn-white.btn-white-without-border.active:hover {
    border-color: #ddd
}
.btn.btn-white.btn-white-without-border:focus,
.btn.btn-white.btn-white-without-border:hover {
    border-color: #eee
}
.btn-white.active,
.btn-white:active,
.btn-white:focus,
.btn-white:hover,
.open .dropdown-toggle.btn-white {
    background: #e2e7eb;
    border-color: #d8dde1
}
.btn-group .btn.btn-white:not(.active)+.btn.btn-white,
.input-group-btn .btn.btn-white:not(.active)+.btn.btn-white {
    border-left-color: #eee
}
.btn.btn-inverse {
    color: #fff;
    background: #2d353c;
    border-color: #2d353c
}
.btn-inverse.active,
.btn-inverse:active,
.btn-inverse:focus,
.btn-inverse:hover,
.open .dropdown-toggle.btn-inverse {
    background: white;
    border-color: white
}
.btn-group .btn.btn-inverse:not(.active)+.btn.btn-inverse,
.input-group-btn .btn.btn-inverse:not(.active)+.btn.btn-inverse {
    border-left-color: white
}
.btn.btn-primary {
    color: #fff;
    background: #348fe2;
    border-color: #348fe2
}
.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary {
    background: #2a72b5;
    border-color: #2a72b5
}
.btn-group .btn.btn-primary:not(.active)+.btn.btn-primary,
.input-group-btn .btn.btn-primary:not(.active)+.btn.btn-primary {
    border-left-color: #2a72b5
}
.btn.btn-success {
    color: #fff;
    background: #00acac;
    border-color: #00acac
}
.btn.btn-success.active,
.btn.btn-success:active,
.btn.btn-success:focus,
.btn.btn-success:hover,
.open .dropdown-toggle.btn-success {
    background: #008a8a;
    border-color: #008a8a
}
.btn-group .btn.btn-success:not(.active)+.btn.btn-success,
.input-group-btn .btn.btn-success:not(.active)+.btn.btn-success {
    border-left-color: #008a8a
}
.btn.btn-warning {
    color: #fff;
    background: #f59c1a;
    border-color: #f59c1a
}
.btn-warning.active,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open .dropdown-toggle.btn-warning {
    background: #c47d15;
    border-color: #c47d15
}
.btn-group .btn.btn-warning:not(.active)+.btn.btn-warning,
.input-group-btn .btn.btn-warning:not(.active)+.btn.btn-warning {
    border-left-color: #c47d15
}
.btn.btn-danger {
    color: #fff;
    background: #ff5b57;
    border-color: #ff5b57
}
.btn-danger.active,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open .dropdown-toggle.btn-danger {
    background: #cc4946;
    border-color: #cc4946
}
.btn-group .btn.btn-danger:not(.active)+.btn.btn-danger,
.input-group-btn .btn.btn-danger:not(.active)+.btn.btn-danger {
    border-left-color: #cc4946
}
.btn.btn-info {
    color: #fff;
    background: #49b6d6;
    border-color: #49b6d6
}
.btn-info.active,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open .dropdown-toggle.btn-info {
    background: #3a92ab;
    border-color: #3a92ab
}
.btn-group .btn.btn-info:not(.active)+.btn.btn-info,
.input-group-btn .btn.btn-info:not(.active)+.btn.btn-info {
    border-left-color: #3a92ab
}
.panel {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}
.panel.panel-no-rounded-corner .panel-body,
.panel.panel-no-rounded-corner .panel-footer,
.panel.panel-no-rounded-corner .panel-heading {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important
}
.panel-heading {
    padding: 10px 15px;
    border: none
}
.panel-heading+.slimScrollDiv,
.panel-heading+.table {
    border-top: 1px solid #eee
}
.panel-heading-btn {
    float: right
}
.panel-heading-btn>a {
    margin-left: 8px
}
.panel-heading .btn-group .btn {
    margin-top: -7px
}
.panel-heading .btn-group .btn.btn-sm {
    margin-top: -5px
}
.panel-heading .btn-group .btn.btn-xs {
    margin-top: -1px
}
.panel-heading .label.pull-left,
.panel-heading .label.pull-right {
    line-height: 15px
}
.panel-heading .progress.pull-left,
.panel-heading .progress.pull-right {
    width: 40%;
    min-width: 120px
}
.panel-heading+.alert {
    margin-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}
.panel-with-tabs.panel-default .panel-heading {
    background: #c1ccd1;
    color: #333
}
.panel-heading .nav-tabs {
    margin-top: -10px;
    margin-right: -15px
}
.panel-heading .nav-tabs>li>a {
    padding: 10px 15px;
    line-height: 20px
}
.panel-title {
    line-height: 20px;
    font-size: 12px
}
.panel-title .accordion-toggle {
    margin: -10px -15px;
    padding: 10px 15px
}
.panel-title .accordion-toggle.accordion-toggle-styled .fa:before {
    content: '\f056'
}
.panel-title .accordion-toggle.accordion-toggle-styled.collapsed .fa:before {
    content: '\f055'
}
.panel-title .pull-right {
    line-height: 20px
}
.panel-toolbar {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
    background: #fff
}
.panel-toolbar+.form-control {
    margin: -1px 0 0;
    border-right: none;
    border-left: none
}
.panel-group .panel {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}
.form-control+.panel-footer {
    border-top: none
}
.panel-body {
    padding: 15px
}
.panel-body.no-border {
    border: none!important
}
.panel-body.no-padding,
.panel-body.panel-form,
.panel-body.panel-full-width,
.panel-body.panel-table {
    padding: 0!important
}
.panel-body.with-table>.table {
    border: 0;
    margin: 0
}
.panel-body.with-table>.table tr:last-child td,
.panel-body.with-table>.table tr:last-child th {
    border-bottom: 0
}
.panel-default>.panel-heading+.panel-collapse .panel-body {
    border-top: 1px solid #eee
}
.panel-footer {
    background: #fff;
    border-top: 1px solid #eee
}
.panel .tab-content {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px
}
.panel-default>.panel-heading {
    background: #fafafa
}
.panel-danger>.panel-heading,
.panel-info>.panel-heading,
.panel-inverse>.panel-heading,
.panel-primary>.panel-heading,
.panel-success>.panel-heading,
.panel-warning>.panel-heading {
    color: #fff
}
.panel-inverse>.panel-heading {
    background: white
}
.panel-success>.panel-heading {
    background: #008a8a
}
.panel-warning>.panel-heading {
    background: #c47d15
}
.panel-danger>.panel-heading {
    background: #cc4946
}
.panel-primary>.panel-heading {
    background: #2a72b5
}
.panel-info>.panel-heading {
    background: #3a92ab
}
.panel.panel-expand {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    overflow: hidden;
    z-index: 1080
}
.panel-expand .height-full,
.panel-expand .height-lg,
.panel-expand .height-md,
.panel-expand .height-sm,
.panel-expand .height-xs {
    height: 100%!important
}
@keyframes panelExpand {
    from {
        top: 50%;
        left: 50%;
        right: 50%;
        bottom: 50%
    }
    to {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0
    }
}
@-webkit-keyframes panelExpand {
    from {
        top: 50%;
        left: 50%;
        right: 50%;
        bottom: 50%
    }
    to {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0
    }
}
.panel.panel-expand>.panel-heading .fa.fa-expand:before {
    content: '\f066'
}
.panel.panel-expand,
.panel.panel-expand>.panel-body,
.panel.panel-expand>.panel-heading {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}
.panel.panel-expand>.panel-body {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 40px;
    overflow-y: scroll;
    z-index: 1020
}
.panel.panel-expand>.panel-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0
}
.panel.panel-loading .panel-body {
    position: relative;
    z-index: 0
}
.panel.panel-loading.panel-expand .panel-body {
    position: absolute
}
.panel.panel-loading .panel-body .panel-loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    opacity: .9;
    filter: alpha(opacity=90);
    animation: fadeIn .2s;
    -webkit-animation: fadeIn .2s;
    z-index: 1020;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px
}
@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
.vertical-box {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    height: 100%;
    width: 100%
}
.vertical-box-column {
    display: table-cell;
    vertical-align: top;
    height: 100%
}
.vertical-box-row {
    display: table-row;
    height: 100%
}
.vertical-box-row>.vertical-box-cell {
    position: relative;
    height: 100%;
    width: 100%;
    float: none
}
.vertical-box-row>.vertical-box-cell>.vertical-box-inner-cell {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden
}
.panel-expand .vertical-box .vertical-box-column {
    display: table-cell
}
.page-content-full-height .content {
    position: absolute;
    left: 0;
    top: 54px;
    right: 0;
    bottom: -1px;
    -webkit-transform: translateZ(0)
}
.no-rounded-corner {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important
}
.rounded-corner {
    -webkit-border-radius: 50%!important;
    -moz-border-radius: 50%!important;
    border-radius: 50%!important
}
.login {
    margin: 168px 0;
    position: relative
}
.login label {
    color: white
}
.login .login-header {
    position: absolute;
    top: -80px;
    left: 50%;
    right: 0;
    width: 450px;
    padding: 0 40px;
    margin-left: -225px;
    font-weight: 300
}
.login .login-header .brand {
    padding: 0;
    font-size: 28px
}
.login .login-header .brand .logo {
    border: 14px solid transparent;
    border-color: #4DCACA #31A3A3 #1D8888;
    width: 28px;
    height: 28px;
    position: relative;
    font-size: 0;
    margin-right: 10px;
    top: -9px
}
.login .login-header .brand small {
    font-size: 14px;
    display: block
}
.login .login-header .icon {
    position: absolute;
    right: 40px;
    top: -2px;
    opacity: .1;
    filter: alpha(opacity=10)
}
.login .login-header .icon i {
    font-size: 70px
}
.login .login-content {
    padding: 30px 40px;
    color: white;
    width: 450px;
    margin: 0 auto
}
.theme-panel {
    position: fixed;
    right: -175px;
    top: 150px;
    z-index: 1020;
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    width: 175px;
    -webkit-transition: right .2s linear;
    -moz-transition: right .2s linear;
    transition: right .2s linear
}
.theme-panel.active {
    right: 0
}
.theme-panel .theme-list {
    list-style-type: none;
    margin: 0;
    padding: 0
}
.theme-panel .theme-list+.theme-list {
    margin-top: 10px
}
.theme-panel .theme-list>li {
    float: left
}
.theme-panel .theme-list>li+li {
    margin-left: 5px
}
.theme-panel .theme-list>li>a {
    text-decoration: none
}
.theme-panel .theme-list>li.active>a {
    position: relative
}
.theme-panel .theme-list>li.active>a:before {
    content: '\f00c';
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 14px;
    color: #fff;
    opacity: .4;
    filter: alpha(opacity=40);
    text-align: center
}
.theme-panel .theme-list>li.active>a.bg-white:before {
    color: #666
}
.theme-panel .theme-list>li>a {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    display: block;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear
}
.theme-panel .theme-list>li>a:focus,
.theme-panel .theme-list>li>a:hover {
    opacity: .6;
    filter: alpha(opacity=60)
}
.theme-panel .theme-collapse-btn {
    position: absolute;
    left: -30px;
    top: 10%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #333;
    background: #fff;
    border-radius: 4px 0 0 4px;
    text-align: center;
    box-shadow: -1px 0 3px -1px rgba(0, 0, 0, .4);
    -webkit-box-shadow: -1px 0 3px -1px rgba(0, 0, 0, .4);
    -moz-box-shadow: -1px 0 3px -1px rgba(0, 0, 0, .4)
}
.theme-panel .theme-panel-content {
    margin: -50px;
    padding: 15px;
    background: #fff;
    position: relative;
    z-index: 1020
}
.theme-panel.active .theme-collapse-btn .fa:before {
    content: '\f00d'
}
.theme-panel .theme-list a.bg-white {
    border: 1px solid #e2e7eb
}
.theme-panel .control-label {
    line-height: 30px
}
.theme-panel .control-label.double-line {
    line-height: 15px
}
.theme-panel .divider {
    height: 1px;
    margin: 15px 0;
    background: #f2f2f2
}
.login-v2 {
    background: url(../img/transparent/black-0.4.png);
    background: rgba(0, 0, 0, .4);
    color: #ccc;
    width: 450px;
    margin: 168px auto;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}
.login-v2 .login-content {
    padding: 40px
}
.login.login-v2 label {
    color: #ccc
}
.login.login-v2 .login-header,
.login.login-v2 a {
    color: #fff
}
.login.login-v2 .login-header .icon {
    opacity: .4;
    filter: alpha(opacity=40)
}
.login-v2 .form-control {
    background: url(../img/transparent/black-0.4.png);
    background: rgba(0, 0, 0, .4);
    border: none;
    color: #fff
}
.login-cover,
.login-cover-bg,
.login-cover-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}
.login-cover-image img {
    max-width: 100%;
    top: 0;
    left: 0;
    position: absolute
}
.login-cover-bg {
    background: #666;
    background: -moz-radial-gradient(center, ellipse cover, #666 0, #000 100%);
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0, #666), color-stop(100%, #000));
    background: -webkit-radial-gradient(center, ellipse cover, #666 0, #000 100%);
    background: -o-radial-gradient(center, ellipse cover, #666 0, #000 100%);
    background: -ms-radial-gradient(center, ellipse cover, #666 0, #000 100%);
    background: radial-gradient(ellipse at center, #666 0, #000 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000', GradientType=1);
    opacity: .6;
    filter: alpha(opacity=60)
}
.login-bg-list {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 1020;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 20px
}
.login-bg-list>li {
    width: 80px;
    height: 60px;
    overflow: hidden;
    float: left;
    transition: all .2s linear;
    -webkit-transition: all .2s linear
}
.login-bg-list>li a {
    display: block;
    height: 60px
}
.login-bg-list>li.active {
    outline: #fff solid 3px;
    z-index: 1020;
    position: relative
}
.login-bg-list>li img {
    max-height: 100%
}
@-webkit-keyframes pace-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@-moz-keyframes pace-spinner {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@-o-keyframes pace-spinner {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@-ms-keyframes pace-spinner {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@keyframes pace-spinner {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
.pace-top .pace-progress,
.pace-top .pace:before {
    top: 0
}
.pace-top .pace .pace-activity {
    top: 11px
}
.login.login-with-news-feed,
.register.register-with-news-feed {
    width: 100%;
    margin: 0;
    padding: 0
}
.login.login-with-news-feed .news-feed,
.register.register-with-news-feed .news-feed {
    position: fixed;
    left: 0;
    right: 500px;
    top: 0;
    bottom: 0;
    -webkit-transform: translateZ(0);
    overflow: hidden
}
.login.login-with-news-feed .news-image,
.register.register-with-news-feed .news-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0
}
.login.login-with-news-feed .news-image img,
.register.register-with-news-feed .news-image img {
    position: absolute;
    max-height: 100%;
    min-width: 100%;
    top: -1960px;
    bottom: -1960px;
    left: -1960px;
    right: -1960px;
    margin: auto
}
.login.login-with-news-feed .news-caption,
.register.register-with-news-feed .news-caption {
    background: rgba(0, 0, 0, .7);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 60px;
    font-size: 14px;
    z-index: 20;
    font-weight: 300;
    min-width: 680px
}
.login.login-with-news-feed .news-caption .caption-title,
.register.register-with-news-feed .news-caption .caption-title {
    color: #fff;
    color: rgba(255, 255, 255, .8);
    font-weight: 300;
    font-size: 28px
}
.login.login-with-news-feed .right-content,
.register.register-with-news-feed .right-content {
    float: right;
    width: 500px
}
.login.login-with-news-feed .login-content,
.register.register-with-news-feed .register-content {
    width: auto;
    padding: 30px 60px
}
.register.register-with-news-feed .register-content {
    padding: 20px 60px 30px
}
.login.login-with-news-feed .login-header,
.register.register-with-news-feed .register-header {
    position: relative;
    top: 0;
    margin: 0;
    left: 0;
    right: 0;
    padding: 100px 60px 0
}
.register.register-with-news-feed .register-header {
    padding: 60px 60px 0;
    font-size: 32px
}
.register.register-with-news-feed .register-header small {
    color: white;
    display: block;
    font-size: 14px;
    margin-top: 10px;
    line-height: 20px
}
.login.login-with-news-feed .login-header .brand {
    color: white
}
.login.login-with-news-feed .login-header .brand small {
    color: white
}
.login.login-with-news-feed .login-header .icon {
    top: 98px;
    right: 10px
}
